<div class="col-xs-4">
  <h3 style="display: inline;">
    <p style="display: inline;">User Stories 
    </p>
  </h3>
  <hr>
  <a class="list-group-item clearfix" *ngFor="let userStory of userStories;let i= index;" [routerLink]="i" style="padding:15px; border-radius: 5px!important;">
    <div class="pull-left">
      <h4 class="list-group-item-heading">{{userStory.name}}</h4>
    </div>

  </a>
  <div *ngIf="userStories.length > 0? false: true">
    <p>No User Story have been added</p>
  </div>
  <button (click)="closeProductBacklog()" class="btn btn-primary" type="button">Back</button>
  <button type="button" class="btn btn-success" [routerLink]="['new']">Add User Story</button>
</div>

<div class="col-xs-6">
  <router-outlet></router-outlet>
</div>