<div class="col-xs-4">
  <h3 style="display: inline;">
    <p style="display: inline;">User Stories 
    </p>
  </h3><span class="glyphicon glyphicon-plus" style="border:1px solid;padding: 6px;" [routerLink]="['new']"></span>
  
  <hr>
  <a class="list-group-item clearfix" *ngFor="let userStory of userStories;let i= index;" [routerLink]="i" style="padding:15px; border-radius: 5px!important;">
    <div class="pull-left">
      <h4 class="list-group-item-heading">{{userStory.name}}</h4>
    </div>

  </a>
  <div *ngIf="!userStories?true:false">
    <p>No User Story have been added</p>
  </div>
  <button (click)="closeProductBacklog()" class="btn btn-primary" type="button">Back</button>
</div>

<div class="col-xs-6">
  <router-outlet></router-outlet>
</div>