<div class="row">
	<div class="col-xs-12">
		<form [formGroup]="teamMemberForm" (ngSubmit)="onSubmit()">
			<div class="row">
				<div class="col-xs-7 form-group">
          <button class="btn btn-primary" type="submit">Update</button>
          <button class="btn btn-primary" [routerLink]="['../']" type="button">Back</button>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-7" formArrayName="teamMembers">
					<div class="row" *ngFor="let memberCtrl of getControls();let i = index" [formGroupName]="i" style="margin-top:10px;">
						<div class="col-xs-8">
							<input type="text" class="form-control" formControlName="name">
              </div>
              <div class="col-xs-2" >
                <input type="text" class="form-control" formControlName="expertise">
              </div>
               <div class="col-xs-2">
                <button type="button" class="btn btn-danger" style="margin-top: 0px;" (click)="onDeleteMember(i)">X</button>
              </div>
         </div>
         <hr>
         <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-success" type="button" (click)="onAddMember()">Add Team Member</button>
        </div>
      </div>
        </div>
      </div>
   
    </form>
  </div>
</div>