<div class="row" *ngIf="!backlogEditMode">
	<div class="col-xs-12">
		<span [className]="productBacklog?'showbox greenbox':'showbox'" style="cursor: pointer;" (click)="editProductBacklog()">
        <label for="productBacklog">{{ productBacklog?'Product Backlog':'+ Product Backlog'}}</label>
  </span>
    </div>
    </div>
<div class="row" *ngIf="backlogEditMode" style="margin-top:5px;">
<app-user-story-list [(backlogEditMode)]="backlogEditMode" [userStories]="productBacklog.userStory"></app-user-story-list>
</div>