 <div class="row">
	        <div class="col-xs-12">
                  <div class="row bs-wizard" style="border-bottom:0;">
                              
                              <div class="col-xs-3 bs-wizard-step complete">
                                <div class="text-center bs-wizard-stepnum">Spring-Planning</div>
                                <div class="progress"><div class="progress-bar"></div></div>
                                <a href="#" class="bs-wizard-dot"></a>
                                <div class="bs-wizard-info text-center">Start of Project</div>
                              </div>
                              
                              <div class="col-xs-3 bs-wizard-step active"><!-- active complete disabled (bootstrap)-->
                                <div class="text-center bs-wizard-stepnum">Sprint Start</div>
                                <div class="progress"><div class="progress-bar"></div></div>
                                <a href="#" class="bs-wizard-dot"></a>
                                <div class="bs-wizard-info text-center">Sprint1</div>
                              </div>
                              
                              <div class="col-xs-3 bs-wizard-step disabled"><!-- active -->
                                <div class="text-center bs-wizard-stepnum">Spring Complete</div>
                                <div class="progress"><div class="progress-bar"></div></div>
                                <a href="#" class="bs-wizard-dot"></a>
                                <div class="bs-wizard-info text-center"> End of Sprint</div>
                              </div>
                   </div>
           </div>
        </div>