p {
  font-family: Lato;
}

button{
  margin: 10px;
}

.showbox {
     display: inline-block;
    width: 220px;
    height: 150px;
    margin: 5px;
    background-color: #f7f7f7;
    border-radius: 10px!important;
    text-align:center;
    padding:45px;
}

.showbox:hover{
    border: 1px rgb(170, 169, 169) solid;
}

.showbox label{
  color: #B8B8B8;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 20px;
}