<h3 style="display: inline;">
    <p style="display: inline;">{{editMode?'Edit':'Add To'}} User Story 
    </p>
  </h3>
  <hr>

  <form>
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control">
    </div>

    <div class="form-group">
      <label for="name">Description</label>
      <textarea name="description" id="description" cols="12" rows="6" class="form-control"></textarea>
    </div>

    <div class="form-group">
      <label for="name">Owner</label>
      <input type="text" class="form-control">
    </div>

    <button type="button" class="btn btn-primary" [routerLink]="['/projects']">
      Add Story
    </button>
    <button type="button" class="btn btn-danger" [routerLink]="['/projects']">
        Cancel
      </button>
  </form>
